<div class="preview-container">
  <div class="card">
    <div class="card-header">
      <h2>Vista Previa de Firma</h2>
    </div>
    <div class="card-body">
      <div id="firma-preview" class="firma-preview" *ngIf="firma">
        <table cellpadding="0" cellspacing="0" border="0" style="font-family: Arial, sans-serif; color: #333333;">
          <tr>
            <td style="padding-right: 15px; vertical-align: top;">
              <img src="assets/images/logo-innovate.png" alt="Innovate Nutrition Logo" width="120" height="auto">
            </td>
            <td style="border-left: 2px solid #1a8b9d; padding-left: 15px;">
              <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td style="font-size: 16px; font-weight: bold; color: #1a8b9d;">
                    {{ firma.nombre }} {{ firma.apellido }}
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 14px; padding-top: 3px;">
                    {{ firma.cargo }}
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 12px; color: #666666; padding-top: 2px;">
                    {{ firma.departamento }}
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 10px;">
                    <table cellpadding="0" cellspacing="0" border="0">
                      <tr *ngIf="firma.telefono">
                        <td style="padding-right: 5px; vertical-align: top;">
                          <img src="assets/images/icon-phone.png" alt="Teléfono" width="14" height="14">
                        </td>
                        <td style="font-size: 12px; color: #666666;">
                          {{ firma.telefono }}
                        </td>
                      </tr>
                      <tr *ngIf="firma.celular">
                        <td style="padding-right: 5px; padding-top: 3px; vertical-align: top;">
                          <img src="assets/images/icon-mobile.png" alt="Celular" width="14" height="14">
                        </td>
                        <td style="font-size: 12px; color: #666666; padding-top: 3px;">
                          {{ firma.celular }}
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-right: 5px; padding-top: 3px; vertical-align: top;">
                          <img src="assets/images/icon-email.png" alt="Email" width="14" height="14">
                        </td>
                        <td style="font-size: 12px; color: #666666; padding-top: 3px;">
                          {{ firma.email }}
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-right: 5px; padding-top: 3px; vertical-align: top;">
                          <img src="assets/images/icon-web.png" alt="Web" width="14" height="14">
                        </td>
                        <td style="font-size: 12px; color: #666666; padding-top: 3px;">
                          www.innovatenutrition.com
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 10px;">
                    <a href="https://facebook.com/innovatenutrition" target="_blank">
                      <img src="assets/images/icon-facebook.png" alt="Facebook" width="20" height="20" style="margin-right: 5px;">
                    </a>
                    <a href="https://instagram.com/innovatenutrition" target="_blank">
                      <img src="assets/images/icon-instagram.png" alt="Instagram" width="20" height="20" style="margin-right: 5px;">
                    </a>
                    <a href="https://linkedin.com/company/innovatenutrition" target="_blank">
                      <img src="assets/images/icon-linkedin.png" alt="LinkedIn" width="20" height="20">
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="!firma" class="empty-preview">
        Complete el formulario para ver la vista previa de la firma
      </div>
    </div>
  </div>
</div>